body {
	background-color: #000;
	color: #fff;
	font-family: "Courier New", Courier, monospace;
}div {
	margin: 0 auto 10px auto;
	font-size: 15px;
	width: 700px;
	border-radius: 20px;
	padding: 5px;
}.warn {
	border: 2px solid green;
	background-color: lime;
	color: #000;
}.error {
	border: 2px solid red;
	background-color: pink;
	color: #000;
}.notice {
	border: 2px solid orange;
	background-color: coral;
	color: #000;
}.crit {
	border: 2px solid black;
	background-color: grey;
	color: white;
}.search {
	position: fixed;
	left: 0;
	top: 0;
}.info {
	position: fixed;
	right: 0;
	top: 0;
	width: 250px;
}